:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hover-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --black: #000000;
  --white: #ffffff;
  --secondary-bg: #f5f4fa;
  --footer-bg: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

/* Лого */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--hover-text-color);
}

.logo-black {
  color: var(--black);
}

/* Навигация и авторизация */

.site-nav .link,
.aut-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.aut-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.aut-nav .link:hover,
.aut-nav .link:focus {
  color: var(--hover-text-color);
}

.site-nav .current {
  color: var(--hover-text-color);
}

/* Шапка */

.hero {
  text-align: center;

  background-color: var(--footer-bg);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white);
  background-color: var(--hover-text-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--title-text-color);
  background-color: var(--white);
}

/* Cекции */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.peculiarities {
  padding-bottom: 0;
}

.peculiarities-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.team {
  background-color: var(--secondary-bg);
}

.team-list {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  background-color: var(--white);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;

  color: var(--title-text-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-text {
  padding-bottom: 30px;
}

/* Портфолио */

/* Проекти */

.filters {
  margin-bottom: 34px;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--secondary-bg);
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--hover-text-color);
}

.projects-list {
  font-size: 16px;
  line-height: 1.87;
}

.projects-list-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-content {
  padding: 20px 24px;
}

/* Подвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-white {
  color: var(--white);
}

.address {
  font-style: normal;

  color: var(--footer-text-color);
}

.map {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--white);
}

.mail {
  display: inline-block;
  margin-bottom: 9px;
}

.address .link:hover,
.address .link:focus {
  color: var(--hover-text-color);
}
